.rodapé {
    background: var(--cor-de-fundo-rdp);
    text-align: center;
}

.rodapé .container {
    padding: 6em;
}

.rodapé__titulo {
    font-size: 36px;
    font-weight: 600;
}

.rodapé__vagas {
    font-size: 20px;
    color: var(--cinza);
    padding: 1em 0 2em 0;
}

.rodapé__email {
    padding: 0.9em 10em 0.9em 1em;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
}

.botão {
    padding: 0.9em;
}

.rodapé__direitos {
    color: #98A2B3;
    padding: 2em 0 0 0;
}